.space-between section{
    grid-column: span 12;
    padding: 0;
}



.stap2 fieldset section div:nth-of-type(2),
.stap2 fieldset section div:nth-of-type(3){
    background-color: rgb(233, 250, 255);
    padding: 1em;
}

.stap2 fieldset:nth-of-type(2) section,
.stap2 fieldset:nth-of-type(3) section{
    padding: 0;
    padding-bottom: 2em;
}

/* display fixen */
/* 1ste block */
.space-between:nth-of-type(1){
    padding:0;
    padding-bottom: 6%;
    margin-top: 0;

}

.space-between:nth-of-type(1) h3{ grid-column: 1 / span 5;}
.space-between:nth-of-type(1) label:nth-of-type(1){ grid-column: 1 / span 3 ;}
.space-between:nth-of-type(1) label:nth-of-type(2){ grid-column: 1 / span 3 ;}
.space-between:nth-of-type(1) label:nth-of-type(3){ grid-column: 4 / span 1 ;}
.space-between:nth-of-type(1) label:nth-of-type(4){ grid-column: 5 / span 3 ;}
.space-between:nth-of-type(1) label:nth-of-type(5){ grid-column: 1 / span 1 ;}
.space-between:nth-of-type(1) label:nth-of-type(6){ grid-column: 1 / span 1 ;}
.space-between:nth-of-type(1) label:nth-of-type(7){ grid-column: 2 / span 1 ;}
.space-between:nth-of-type(1) label:nth-of-type(8){ grid-column: 3 / span 1 ;}
.space-between:nth-of-type(1) label:nth-of-type(9){ grid-column: 1 / span 3 ;}
.space-between:nth-of-type(1) label:nth-of-type(10){ grid-column: 4 / span 3 ;}




.stap2 fieldset:nth-of-type(2) section div:nth-of-type(1){
    grid-column: 1 / span 5;
}

.stap2 fieldset:nth-of-type(2) section div:nth-of-type(2),
.stap2 fieldset:nth-of-type(2) section div:nth-of-type(3){

    grid-column: 6 / span 7;
    
}

.space-between:nth-of-type(3){
    grid-template-rows: repeat(4 , 1fr);
}

.stap2 fieldset:nth-of-type(3) section label:nth-of-type(1){
    grid-column: 1 / span 3;
    grid-row: 3;
}

.stap2 fieldset:nth-of-type(3) section label:nth-of-type(2){
    grid-column: 4 / span 3;
    grid-row: 3;
}

.stap2 fieldset:nth-of-type(3) section input:nth-of-type(1){
    grid-column: 1 / span 1;
    grid-row: 4;
}

.stap2 fieldset:nth-of-type(3) section input:nth-of-type(2){
    grid-column: 2 / span 1;
    grid-row: 4;
}

.stap2 fieldset:nth-of-type(3) section input:nth-of-type(3){
    grid-column: 4 / span 2;
    grid-row: 4;
}



form fieldset:nth-of-type(2) div{
    display:block;
}

form:has(input[type="radio"][id="4b-nl"]:checked){
    display:block;
}

form:has(input[type="radio"][id="4b-nl"]:not(:checked)) section  div:nth-of-type(2){
    display: none;
}

form:has(input[type="radio"][id="4b-bui"]:checked){
    display:block;
}

form:has(input[type="radio"][id="4b-bui"]:not(:checked)) section  div:nth-of-type(3){
    display: none;
}


/* buitenland en nl buttons en div */
.space-between:nth-of-type(1) div{
    grid-column: 1 / span 12;
}

