:root {
  --yellow: #ffc917;
  --blue: #003082;
  --light-blue: #0063d3;
  --red: #db0029;
  --green: #009a42;
  --background-color: #e6e6e9;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--background-color);
}

article {
  background-color: #ffe9ed;
}

p {
  margin: 0;
}

article h2 {
  display: flex;
  justify-self: center;
  color: var(--red);
  margin: 0;
  font-size: x-small;
  padding: 5px;
}

header {
  background-color: var(--yellow);
  height: 115px;
  width: auto;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

nav img {
  width: 9em;
}

main section {
  grid-column: span 12;
  background-color: white;
  padding: 2em;
}

h1 {
  font-size: xx-large;
}

main section p {
  margin-bottom: 2em;
  grid-column: span 12;
}

main section a {
  text-decoration: none;
  background-color: var(--light-blue);
  color: white;
  padding: 1em;
  border-radius: 4px;
  grid-column: 1 / span 2;
  text-align: center;
  box-shadow: inset 0 -0.125rem 0 var(--blue);
  transition: box-shadow 0.15s ease-in-out;
}

main section a:hover {
  box-shadow: inset 0 -50px 0 var(--blue);
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  width: 100%;
}

.space-between {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  margin: 0 auto;
  margin-top: 2em;
  padding-bottom: 1em;
  border: none;
  border-bottom: 1px solid var(--background-color);
}

.stap1 label:nth-of-type(1) {
  grid-column: span 3;
}

.stap1 label:nth-of-type(2) {
  grid-column: 4 / span 2;
}

.stap1 label:nth-of-type(3) {
  grid-column: 6 / span 4;
}

.stap1 label:nth-of-type(4) {
  grid-column: 1 / span 3;
}

.stap1 label:nth-of-type(5) {
  grid-column: 4 / span 2;
}

.stap1 form div:nth-of-type(1) {
  grid-column: 1 / span 5;
}

.stap1 form div:nth-of-type(1) label {
  display: flex;
  flex-direction: row;
}

/* Stijl van de pop up van de extra vragen */
.pop-up {
  grid-column: 6 / span 7;
  background-color: rgb(233, 250, 255);
  display: none;
  padding: 2em;
  transform: translateY(-20px); /* Begin buiten beeld */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; /* Zorgt ervoor dat 'visibility' na de animatie pas verandert */
  margin-top: 1em;
}

.pop-up label {
  display: flex;
  flex-direction: row;
}

.pop-up p {
  margin-bottom: 1em;
}

.extra1c div {
  display: none;
  margin-top: 1em;
}

/* het laten zien van de extra vragen waar nodig */
body:has(input[type="radio"][id="1b-ja"]:checked) form .extra1b {
  display: block;
}

body:has(input[type="radio"][id="1c"]:checked) form .extra1c {
  display: block;
}

body:has(input[type="radio"][id="1c-2"]:checked) form .extra1c div {
  display: block;
}

body:has(input[type="radio"][id="1d-ja"]:checked) form .extra1d {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.2%;
}

.extra1d label {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.extra1d label:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.extra1d label:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.extra1d label:nth-of-type(3) {
  grid-area: 2 / 3 / 3 / 4;
}

.extra1d label:nth-of-type(4) {
  grid-area: 2 / 4 / 3 / 6;
}

.extra1d label:nth-of-type(5) {
  grid-area: 3 / 1 / 4 / 4;
}

.extra1d label:nth-of-type(6) {
  grid-area: 3 / 4 / 4 / 6;
}

.extra1d label:nth-of-type(7) {
  grid-area: 4 / 1 / 5 / 3;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  border: 1px solid var(--background-color);
  height: 2em;
  padding-left: 0.5em;
  width: auto;
  margin-top: 1em;
  border: 1px solid;
  border-radius: 4px;
}

/* Styling voor de radio buttons in de site */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 2.5em;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3em;
  height: 1.3em;

  background-color: #fff;
  border: 2px solid #ccc;
}

input[type="radio"]:checked + label::before {
  content: "✓";
  font-size: 1.1em;
  color: var(--blue);
  display: flex;
  justify-content: center;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  border: 2px solid grey;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

input[type="radio"]:not(:checked) + label:hover::before {
  border-color: #888;
}

input[type="submit"] {
  text-decoration: none;
  background-color: var(--green);
  color: white;
  padding: 1em;
  border-radius: 4px;
  grid-column: 11 / span 2;
  text-align: center;
  box-shadow: inset 0 -0.125rem 0 #017232;
  transition: box-shadow 0.15s ease-in-out;
  border: none;
}

input[type="submit"]:hover {
  box-shadow: inset 0 -50px 0 #017232;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .stap1 form div:nth-of-type(1) {
    grid-column: 1 / span 6;
  }

  .stap1 form div:nth-of-type(2) {
    grid-column: 1 / span 12;
  }

  input[type="submit"] {
    grid-column: 10 / span 6;
  }

  main section a {
    grid-column: 1 / span 3;
  }
}

@media (max-width: 750px) {

    body:has(input[type="radio"][id="1d-ja"]:checked) form .extra1d{
        grid-template-rows: (7, 1fr);
        
    }

    .stap1 label:nth-of-type(1) {
        grid-column: span 4;
      }
      
      .stap1 label:nth-of-type(2) {
        grid-column: 5 / span 2;
      }
      
      .stap1 label:nth-of-type(3) {
        grid-column: 7 / span 6;
      }
      
      .stap1 label:nth-of-type(4) {
        grid-column: 1 / span 6;
      }
      
      .stap1 label:nth-of-type(5) {
        grid-column: 7 / span 3;
      }
    
  .extra1d label:nth-of-type(1) {
    grid-column: 1 / span 5;
    grid-row: 1;
  }

  .extra1d label:nth-of-type(2) {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .extra1d label:nth-of-type(3) {
    grid-column: 4 / span 2;
    grid-row: 2;
  }

  .extra1d label:nth-of-type(4) {
    grid-column: 1 / span 5;
    grid-row: 4;
  }

  .extra1d label:nth-of-type(5) {
    grid-column: 1 / span 5;
    grid-row: 5;
  }

  .extra1d label:nth-of-type(6) {
    grid-column: 1 / span 5;
    grid-row: 6;
  }

  .extra1d label:nth-of-type(7) {
    grid-column: 1 / span 5;
    grid-row: 7;
  }
}

@media (max-width: 650px) {
  main section a {
    grid-column: 1 / span 5;
  }

  .stap1 label:nth-of-type(1) {
    grid-column: span 8;
  }
  
  .stap1 label:nth-of-type(2) {
    grid-column: 9 / span 4;
  }
  
  .stap1 label:nth-of-type(3) {
    grid-column: 1 / span 12;
  }
  
  .stap1 label:nth-of-type(4) {
    grid-column: 1 / span 12;
  }
  
  .stap1 label:nth-of-type(5) {
    grid-column: 1 / span 4;
  }
}

@media (max-width: 450px) {
  main section a {
    grid-column: 1 / span 7;
  }

  .stap1 label:nth-of-type(1) {
    grid-column: span 12;
  }
  
  .stap1 label:nth-of-type(2) {
    grid-column: span 6;  }
  
  .stap1 label:nth-of-type(3) {
    grid-column: span 12;  }
  
  .stap1 label:nth-of-type(4) {
    grid-column: span 12;  }
  
  .stap1 label:nth-of-type(5) {
    grid-column: span 6;  }


  .extra1d label:nth-of-type(1) {
    grid-column: 1 / span 5;
    grid-row: 1;
  }

  .extra1d label:nth-of-type(2) {
    grid-column: 1 / span 5;
    grid-row: 2;
  }

  .extra1d label:nth-of-type(3) {
    grid-column: 1 / span 5;
    grid-row: 3;
  }

  .extra1d label:nth-of-type(4) {
    grid-column: 1 / span 5;
    grid-row: 4;
  }

  .extra1d label:nth-of-type(5) {
    grid-column: 1 / span 5;
    grid-row: 5;
  }

  .extra1d label:nth-of-type(6) {
    grid-column: 1 / span 5;
    grid-row: 6;
  }

  .extra1d label:nth-of-type(7) {
    grid-column: 1 / span 5;
    grid-row: 7;
  }

}

/* vraag 11A OPTgroup met select input, om aanbevolen te geven, gebruik ook hr

Output in een input voor het berekenen van rekensommen*/
